.glossary-container {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 0.25fr;
    padding-top: 7%;
    padding-left: 10%;
}

.glossary-list {
    list-style-type: none;
    margin-top: 2rem;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.glossary-left>h1 {
    font-weight: 600;
}

.gItem {
    padding-left: 0;
}

.gItem>button {
    color: black;
    text-decoration: none;
}

.gItem:hover {
    color: black;
    text-decoration: underline;
}

.glossary-definition {
    position: absolute;
    padding-top: 40px;
    right: 0;
    z-index: -1;
}