    .aboutPage {
        display: grid;
        grid-template-columns: auto auto;
    }

    .aboutLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        padding-left: 150px;
    }

    .aboutBG {
        position: absolute;
        left: -5%;
        bottom: -5%;
        z-index: -1;
        min-height: 90%;
        min-width: 60%;
    }

    .aboutPage>h1 {
        margin-bottom: 50px;
    }

    .aboutText {
        width: 400px;
        font-weight: 500;
        font-size: 18px;
    }

    .aboutPage>img {
        z-index: -3;
        height: 50%;
        margin-left: auto;
    }