.navBar {
    height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: white;
}

.navigatedu {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.navBar select {
    height: 40px;
    width: 220px;
    border-radius: 15px;
    padding-left: 20px;
}

.navBarList {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    color: black;
    width: 30%;
    margin: 0;
    padding: 0;
}

.navBarList:hover {
    color: black;
}

.navBarList>* {
    width: 100%;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
}

.navBarList>li {
    height: 100%;
    width: 100%;
}

.linkStyle {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.linkStyle:hover, .navigateHome:hover {
    color: black;
}

.navigateHome {
    color: inherit;
    text-decoration: none;
}


/* .linkStyle::after {
    position: absolute;
    content: "";
    border-top: .17rem solid black;
    width: 2.5rem;
    display: inline-block;
    transform: translate(-2.5rem, 1.7rem);
    line-height: 0;
} */

.learnActive::after {
    position: absolute;
    content: "";
    border-top: .17rem solid black;
    width: 2.7rem;
    display: inline-block;
    transform: translate(-2.6rem, 1.7rem);
    line-height: 0;
}

.glossaryActive::after {
    position: absolute;
    content: "";
    border-top: .17rem solid black;
    width: 4rem;
    display: inline-block;
    transform: translate(-4rem, 1.7rem);
    line-height: 0;
}

.aboutActive::after {
    position: absolute;
    content: "";
    border-top: .17rem solid black;
    width: 3rem;
    display: inline-block;
    transform: translate(-2.8rem, 1.7rem);
    line-height: 0;
}

.contactActive::after {
    position: absolute;
    content: "";
    border-top: .17rem solid black;
    width: 3.6rem;
    display: inline-block;
    transform: translate(-3.5rem, 1.7rem);
    line-height: 0;
}

.navBar>div {
    width: 20%;
}