
.learnSelected {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.glossarySelected {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.aboutSelected {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.contactSelected {
    text-decoration: none;
    color: black;
    font-weight: bold;
}