.carouselContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  min-height:9rem;
}

#lessonButton {
  background-color: white;
  line-height: 40px;
  border: none;
}

.lessonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90px;
}

.inactive {
  font-size: clamp(20px, 24px, 28px);
  color: rgba(29, 27, 32, 1);
  padding: 0;
  border: none;
  font-weight: 400;
}

.carouselContainer .active {
  color: rgba(29, 27, 32, 1);
  animation: activeAnimation 500ms forwards;
  font-weight: 400;
  text-decoration: underline;
}

#carouselP {
  margin: .25rem;
  line-height: 35px;
}

.activeP {
  animation: activeAnimationP 500ms forwards;
}

@keyframes activeAnimation {
  0% {
    font-size: clamp(20px, 30px, 40px);
  }
  100% {
    font-size: clamp(30px, 40px, 50px);
  }
}
@keyframes activeAnimationP {
  0% {
    font-size: clamp(10px, 16px, 22px);
  }
  100% {
    font-size: clamp(11px, 17px, 23px);
  }
}

.react-multi-carousel-list {
  align-items: baseline;
}

@keyframes navActiveAnim {
  0% {
    width: .25rem;
  }
  100% {
    width: 5.5rem;
  }  
}
