.carouselContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  min-height: 3.5rem;
}

#lessonButton {
  background-color: white;
  line-height: 51px;
  border: none;
}

.inactive {
  font-size: clamp(20px, 30px, 40px);
  color: rgb(172, 127, 127);
  padding: 0;
  border: none;
}

.active {
  color: black;
  font-weight: 600;
  animation: activeAnimation 500ms forwards;
}

@keyframes activeAnimation {
  0% {
    font-size: clamp(20px, 30px, 40px);
  }
  100% {
    font-size: clamp(30px, 40px, 50px);
  }
}

.react-multi-carousel-list {
  align-items: baseline;
}

@keyframes navActiveAnim {
  0% {
    width: .25rem;
  }
  100% {
    width: 5.5rem;
  }  
}