@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
	--red-0: hsl(3 76% 65%);
	--red-1: hsl(3 42% 52%);
	--orange-0: hsl(24 76% 61%);
	--orange-1: hsl(23 51% 49%);
	--yellow-0: hsl(37 62% 59%);
	--yellow-1: hsl(37 51% 51%);
	--green-0: hsl(70 36% 55%);
	--green-1: hsl(69 31% 46%);
	--aqua-0: hsl(112 25% 61%);
	--aqua-1: hsl(111 17% 51%);
	--blue-0: hsl(167 23% 59%);
	--blue-1: hsl(166 17% 49%);
	--purple-0: hsl(344 47% 68%);
	--purple-1: hsl(344 27% 55%);

  /* background: hsla(0, 0%, 91%, 1); */
  /* background: hsla(220, 33%, 98%, 1); */


	--taupe-0: hsl(0, 0%, 91%);
	--taupe-1: hsl(220, 33%, 98%);
	--taupe-2: hsl(20 3% 19%);
	--taupe-3: hsl(20 5% 22%);
	--taupe-4: hsl(20 5% 24%);
	--taupe-5: hsl(22 6% 25%);
	--taupe-6: hsl(22 7% 29%);
	--taupe-7: hsl(26 8% 33%);
	--taupe-8: hsl(27 10% 36%);
	--taupe-9: hsl(28 11% 44%);
	--taupe-10: hsl(30 12% 51%);
  /* background: hsla(220, 1%, 43%, 1); */

	--cream-0: hsl(220, 1%, 43%);
	--cream-1: hsl(220, 1%, 43%);
}

html {
  font-family: 'Inter', sans-serif;
	font-size:100%;
  block-size: 100%;
  inline-size: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeSpeed;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

:focus-visible {
  box-shadow: 0 0 0 2px var(--blue-0);
}

.browserbody {
  font-size: 1rem;
  font-weight: 400;
  min-block-size: 100%;
  min-inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;

  justify-content:center;
  min-height: 100vh;
}

.window {
  /*absolute is important for draggable JS to work*/
  /* position: absolute;  */
  
  /* min-inline-size: 48rem; */
  /* min-block-size: 32rem; */
  /* min-inline-size: 18rem;
  min-block-size: 19rem;
  max-inline-size: 105rem;
  max-block-size: 44rem; */
  width: clamp(10rem, 100%, 80rem);
  height: clamp(5rem, 50%, 40rem);
  display: flex;
  flex-direction: column;
  margin-top:141px;
  color: var(--cream-1);
  background: var(--taupe-0);
  border-radius: 1rem;
  box-shadow: 0 10px 20px -5px hsl(180 2% 10%);
  overflow: hidden;
  /* resize: both; */
}

/*___Globals___*/

.windowheader, .window-actions, .tabs, .tab, .window button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.window button, .browserText {
  /* padding: .5rem; */
  
  background: none;
  border-radius: .25rem;
  border: none;
}

/* .window button {
  color: var(--taupe-10);
} */

.tabs button:hover, .tab button:hover, .toolbar button:hover {
  background-color: var(--taupe-2);
  color: var(--cream-0);
}

/*___Window header___*/

.windowheader {
  /* padding-inline: 1rem; */
  padding-top: .25rem;
  gap: 2rem;
}

.window-actions {
  padding: 0 10px;
  width:120px;
  justify-content: flex-end;
  gap:.7rem;
} 

.carrot{
  margin-left:20px;
}


.tabs, .tab {
  padding-inline: .5rem;
  gap: .25rem;
}

.tab {
  font-size: .625rem;
  min-inline-size: 10rem;
  padding: .25rem .25rem .25rem .5rem;
  
  background-color: var(--taupe-1);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: var(--cream-1);
}

.tab button {
  padding: .25rem;
  margin-left: auto;
}

/*___Window toolbar___*/

.toolbar {
  /* gap: .25rem; */
  /* padding-inline: .5rem; */
  /* padding-block: .25rem; */
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--taupe-0);
  background-color: var(--taupe-1);
  /* height:10px; */
}
.toolbar button {
  height:40px;
}

svg{
  height:100%;

}
.toolbar-left{
  display:flex;
  flex-direction: row;
  gap: .6rem;
  padding:0px 10px;
  /* justify-content:space-between; */
  /* width:500px; */
  /* padding:0; */
}
.toolbar-right{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  gap:1rem;
  /* width:500px; */
  padding:0 20px;
}

.search {
  position: relative;
  padding:4px 0px;
  flex-grow:4
}

.browserText {
  font-family: inherit;

  font-size: 8px;
  line-height: 3;
  min-inline-size: 100%;
  padding-inline-start: 2rem;
  border-radius: 24px;
  background-color: var(--taupe-0);
  color: var(--cream-0);
}

.google {
  position:absolute;
  bottom: .7rem;
  right: 3.7rem;
}

.downloads {
  position:absolute;
  bottom: .7rem;
  right: 2.0rem;
}

.bkstar{
  position:absolute;
  bottom: .7rem;
  right: .5rem;
}

.lock {
  position: absolute;
  bottom: .7rem;
  left: .5rem;
}

.toolbar button {
  font-size: .625rem;
  gap: .15rem;
}

[aria-label="downloads"] {
  margin-left: auto;
}

/*___Viewport___*/

.windowmain {
  flex: 2;
  display: grid;
  /* place-content: center; */
  gap: 1rem;
  
  background-color: var(--taupe-2)
}

.mainwindowimg {
  width: clamp(10rem, 100%, 80rem);
  height: clamp(5rem, 100%, 40rem);
}

.window h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -.05em;
  gap: .75rem;
}

.window p {
  font-size: .75rem;
  text-align: center;
}

.window a {
  color: var(--red-0);
  text-decoration: none;
}

.lessonOneHeader {
  margin-top: -10%;
}