.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    color: #AAAAAA;
    margin-top: auto;
    font-weight: 400;
    font-size: 14px;
}

.footerLink {
    text-decoration: none;
    color: #AAAAAA;
    margin: auto 20px;
    font-weight: 400;
    font-size: 14px;
}

.footerLink:hover {
    color: #AAAAAA;
    text-decoration: underline;
}