.glossary-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.glossaryComponentText {
    margin: auto;
    width: 50%;
}

.glossaryBG {
    position: absolute;
    z-index: -1;
    height: 35em;
}