/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    /* border: 3px solid red; */
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* background colors */

    /* other colors */
    --white-col: white;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
p {
    background-color: rgba(0, 0, 0, 0);
}

.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
.content-container {
    height: 100%;
}

.landing-about {
    width: 650px;
    padding: 280px 100px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.learn {
    background-color: black;
    color: white;
    border-radius: 16px;
    padding: 5px 20px;
    width: fit-content;
}

.landingBG {
    position: absolute;
    left: -4.39%;
    right: 41.54%;
    top: 2.58%;
    bottom: 19.86%;
    z-index: -1;
}