/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    /* overflow: scroll; */
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* background colors */

    /* other colors */
    --white-col: white;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}


.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

.grid.place-center {
    place-items: center;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
h2.contact {
    margin: 5rem 0 2rem 0;
    /* font-size: clamp(2rem, 4.5vw, 3rem) !important; */
    text-align: left;
    font-weight: 600;
}

.contact-form>input[type=button] {
    max-width: 10rem;
}

section.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: 'Roboto', sans-serif;
}

.contactBG {
    position: absolute;
    width: 1068px;
    left: calc(50% - 1068px/2 - 4px);
    top: 12%;
    bottom: 5.27%;
    z-index: -1;
    height: 80%;
}

.form-container {
    padding-top: 6rem;
    height: 80%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.contact-form>input, textarea {
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact-form>label {
    margin-bottom: 0.25rem;
}

.contact-form {
    height: 30rem;
    max-width: 50rem;
    width: 100%;
}

.contactBtn {
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    max-width: 8rem;
    margin: auto;
}

.directoryPath {
    position: absolute;
    left: 7%;
    top: 13%;
}

.homeLink {
    text-decoration: none;
    color: black;
}

.homeLink:hover {
    text-decoration: underline;
    color: black;
}

#message {
    padding: .75rem;
    resize: none;
    margin-bottom: 2rem;
}