/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* background colors */

    /* other colors */
    --white-col: white;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

.grid.place-center {
    place-items: center;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
h1 {
    margin: 3rem 0;
    font-size: clamp(2rem, 4.5vw, 4rem);
}

input[type=button] {
    max-width: 10rem;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60rem;
}

.form-container {
    height: 80%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.contact-form > input, textarea {
    margin-bottom: 2rem;
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact-form > label {
    margin-bottom: 0.25rem;
}

.contact-form {
    max-width: 30rem;
    width: 100%;
}

#message, input {
    padding: .75rem;
    resize: none;
}